/* main content - login page */ 
#wrapper {
    background-color: #F2F2F2;
    width: 375px; 
    height: auto;
    margin: 0 auto;
}            
#logo {
    margin-left: 110px;   
    padding: 20px;
}
#title h1 {
    text-align: center; 
    font-family: brad;
    font-weight: bold;
    font-size: 32px;
}

#facebook button {
      
    font-size: 18px;
    font-weight: bold;
    font-family: brad; 
    
    text-align: center; 
    
    cursor: pointer;  
    
    padding: 5px 10px 10px 10px;
    margin: -40px 0px 0px 35px;
    width: 80%;
  
    background-color: #0060c5;
    color: #fff;
    
    border: solid 1px #0060c5;
}
#twitter button {
    
    font-size: 18px;
    font-weight: bold;
    font-family: brad; 
    
    text-align: center; 
    
    cursor: pointer;  
    
    padding: 5px 10px 10px 10px;
    margin: 10px 0px 0px 35px;
    width: 80%;
  
    background-color: #00B0F0;
    color: #fff;
    
    border: solid 1px #00B0F0;
}
.Manual h2{
    text-align: center;
    
    font-family: brad;
    font-size: 18px;
    
    border-bottom: solid #0060c5;
    width: 80%;
    margin: 0 auto;
    padding-top: 15px;   
    
}
.field-wrap {
    padding-top: 15px;
    margin-top: 5px;
}
#content h2 {
    text-align: center; 
    font-size: 32px;
    font-family: brad; 
    margin-top: 10px;
}
#Footer {
    color: #fff; 
    background-color: #0060c5;
    text-align: center;
    height: 50px;
    margin: 30px 0px 0px 0px; 
    font-family: brad;      
}
#Footer p {
    text-align: center;
    color: white;
    font-family: brad;
    font-size: 15px;
    font-weight: bold;
}

/*styles*/ 
@font-face {
    font-family: brad;
    src: url('../tHat_Style_main/brad.TTF')
}
a {
    text-decoration: none;
    -webkit-transition: .5 ease;
    transition: .5 ease; 
}
a:hover{
    color: #0060c5;  
}
p {
    text-align: right;
    color: #0060c5;
    margin: 0px 10px 0px 0px;
    font-family: brad;
    font-size: 11px;
    font-weight: bold;
}
label {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    color: black;
    margin: 0px 0px 0px 40px; 
    font-size: 15px;
    font-family: brad;
    font-weight: bold;  
    padding-top: 10px;
}
label .req {
    margin: 2px;
    color: #0060c5;
}
label.active{
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    font-size: 14px; 
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}
input, textarea {
  font-size: 15px;
  font-family: brad;
  font-weight: bold;
  width: 80%;
  padding: 5px 10px;
  color:black;
  background-color:#D9D9D9;
  border: 1px solid #D9D9D9;
  margin-left: 25px;
}
.btn {
      display: inline-block;
      border: none;
      padding: 6px 12px;
      margin-left: 0px;
      font-size: 0px;
      font-weight: bold;
      text-align: center; 
      cursor: pointer;  
}     

.btn-lg {
      padding: 10px 10px;
      font-size: 32px;
      width: 80%;
      margin: 20px 0px 0px 35px;
      font-family: brad; 
}
.btn-sm {
      padding: 5px 10px;
      font-size: 18px;                   
}

.btn-success {
      color: #FFF;
      background-color: #0060c5;
      border-color:#0060c5;
}
.btn-success:hover,
.btn-sucess:focus,
.btn-sucess:active {
      color: #fff;
      background-color: #0060c5;
      border-color: #0060c5;
}